@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');
/* font-family: 'Chelsea Market', cursive; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Fredoka One', cursive; */


* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.back-btn {
    color: black;
    font-size: 20px;
    text-decoration: none;
    /* padding-top: 25px; */
    padding-left: 25px;
    font-family: 'Fredoka One', cursive; 
    letter-spacing: 2px;
    line-height: 1.4rem;
}


li {
    list-style: none;
}

figure {
    /* outline: 1px solid green; */
    text-align: justify;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figcaption{
    /* outline: 1px solid yellow; */
    font-size: 12px;
    color: black;
}

/* div hugging each individual image */
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* outline: 1px solid blue; */
    padding: 30px;
}

/* ============ */
/* Flag Page */
/* ============ */

.countryImages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    /* outline: 50px solid red; */
}

.country-title-container {
    /* outline: 1px solid blue; */
    margin: 40px auto 30px auto;
    padding: 30px;
    text-align: center;
}

.country-title-container h1 {
    padding-bottom: 30px;
    font-family: 'Fredoka One', cursive;
    font-size: 4.3rem;
    letter-spacing: 7px;
}

.country-title-container h2 {
    font-family: 'Fredoka One', cursive;

    font-size: 1.7rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.random-btn {
    font-family: 'Fredoka One', cursive;
    outline: 1px solid black;
    padding: 15px 30px;

}
/* div hugging all divs of images  */
.country-image-container  {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* outline: 3px solid green; */
    margin-bottom: 100px;
    padding: 10px 20px; 
}

 /* img itself */
.flagImages {
    min-height: 150px;
    min-width: 200px;
    max-height: 150px;
    max-width: 200px;
    /* border-radius: 50%; */
    box-shadow: 3px 3px 7px black;
    margin-bottom: 8px;
}

/* ============ */
/* Recipes Page */
/* ============ */

.food-images {
    min-height: 170px;
    min-width: 170px;
    max-height: 170px;
    max-width: 170px;
    box-shadow: 3px 3px 7px black;
    margin-bottom: 8px;
}

/* ============ */
/* Recipe Page */
/* ============ */
.recipe-header {
    /* outline: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.recipe-title-container {
    margin: 40px auto 30px auto;
    padding: 30px;
    text-align: center;
}

.recipe-title-container {
    /* outline: 1px solid blue; */
    margin: 40px auto 30px auto;
    padding: 30px;
    text-align: center;
}

.recipe-title-container h1 {
    padding-bottom: 30px;
    font-family: 'Fredoka One', cursive;
    font-size: 4.3rem;
    letter-spacing: 7px;
}

.recipe-image-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    /* outline: 3px solid green; */
    margin-bottom: 100px;
    padding: 10px 20px;
}

.recipeImage {
    min-height: 180px;
    min-width: 180px;
    max-height: 180px;
    max-width: 180px;
    box-shadow: 3px 3px 7px black;
    margin: 8px;   
}

/* ================ */
/*    COUNTERS      */
/* ================ */

.title-likes {
    /* outline: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.title-likes h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.counter-btn-container {
    /* outline: 1px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button {
    outline: 1px solid black;
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
}


/* ================ */
/* INGREDIENT PAGE */
/* ================ */

.full-recipe-text {
    /* outline: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.directions{
    /* outline: 1px solid purple; */
    width: 100%;
    height: 100%;
    display:flex;
    align-items: flex-start;
}

.ingredient-container {
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.ingredient-container h3 {
    padding-bottom: 25px;
    font-size: 26px;
}

.ingredients-container-lists {
    outline: 1px solid black;
    width: 100%;
    margin-left: 45px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.amount-list {
    /* outline: 1px solid yellow; */
    font-size: 16px;
    line-height: 1.4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.ingredients-list {
    /* outline: 1px solid red; */
    width: 50%;
    font-size: 16px;
    margin-left: 15px;
    line-height: 1.4rem;
    padding: 5px;
}

.instruction-container {
    /* outline: 1px solid red; */
    width: 70%;
    padding: 0 0 20px 0;
    /* margin: 15px auto 30px auto; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.instruction-container h3 {
    font-size: 26px;
    padding-bottom: 25px;
}

.instruction-container p {
    text-align: justify;
    font-size: 16px;
    /* letter-spacing: 1px; */
    line-height: 1.4rem;
    width: 80%;
}

.original-recipe {
    /* outline: 1px solid red; */
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.original-recipe p {
    padding-top: 25px;
    font-size: 16px;
}

.original-recipe p a {
    font-size: 16px;
    text-decoration: underline;
}

.where-to-eat {
    margin-bottom: 22px;
}

.website-link {
    font-size: 22px;
}

.website-link,
.website-link a {
    /* color: #752513; */
    color: black;
    text-decoration: none;
    font-size: 18px;
}

